.cuerpo{
    width: 100px;
    height: 200px;
    position: relative;
}

.top{
    width: 100px;
    height: 50px;
    background-color: #638074;
    border-radius: 50%;
    position: absolute;
    z-index: 10; /**/
    top: 150px;
}

.middle{
    width: 100px;
    height: 50px;
    background-color: #7AFFC8;
    border-radius: 50%;
    position: absolute;
    z-index: 10;
}

.rec{
    width: 100px;
    height: 150px;
    background-color:#C7FFE8;
    position: absolute;
    top: 25px;
}

.load{
    position: absolute;
    width: 100px;
    height: 50px;
    border-radius: 50%;
    z-index: 100;
    background-color: #6181E8;
}

.load1{
    position: absolute;
    width: 100px;
    height: 50px;
    border-radius: 50%;
    z-index: 100;
    background-color: #C16BFF;
}

.load2{
    width: 100px;
    height: 73px;
    background-color: #9FCCB9;
    position: absolute;
    z-index: 1;
    top: 25px;
}

.load3{
    z-index: 100;
    border-radius: 50%;
    width: 100px;
    top: 35px;
    height: 50px;
    position: absolute;
    background-color: #804B4B;
}